---
import { BsFillTerminalFill } from "react-icons/bs";
import { IoPersonCircle } from "react-icons/io5";
import { RiGamepadFill } from "react-icons/ri";
import FileStructure from "./FileStructure";
---

<div class="bg-Code grid gap-[1px] grid-cols-30 grid-rows-18 h-full">
  <div class="bg-background row-span-18 grid grid-rows-14">
    <a
      href="#"
      class="row-span-1 flex justify-center items-center opacity-50 hover:opacity-100 duration-300"
    >
      <BsFillTerminalFill className="text-Code text-xl" />
    </a>
    <a
      href="#"
      class="row-span-1 flex justify-center items-center opacity-50 hover:opacity-100 duration-300"
    >
      <IoPersonCircle className="text-Code text-xl" />
    </a>
    <a
      href="#"
      class="row-span-1 flex justify-center items-center opacity-50 hover:opacity-100 duration-300"
    >
      <RiGamepadFill className="text-Code text-xl" />
    </a>
  </div>
  <FileStructure client:visible />
  <div class="bg-background col-span-12 row-span-18"></div>
  <div class="bg-background col-span-13 row-span-18"></div>
</div>

<style></style>
