---
import Link from "./Link.astro";
import NavigationLinks from "./NavigationLinks.astro";
const { name } = Astro.props;
---

<nav
  class="bg-Code grid relative z-10 md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-12 w-full text-Code font-fira gap-[1px] py-[1px] border-x border-x-Code"
>
  <p
    class="bg-background flex items-center text-[16px] lg:text-[14px] pl-[22px] col-span-2"
  >
    {name}
  </p>
  <NavigationLinks client:visible />
  <div
    class="bg-background hidden lg:block col-span-2 lg:col-span-4 xl:col-span-6"
  >
  </div>
  <Link
    to="./contacts"
    label="_contacts-me"
    className="hidden lg:flex"
    client:visible
  />
</nav>
