---
import Link from "./Link";
---

<div class="hidden lg:grid grid-cols-3 col-span-3 gap-[1px] w-full">
  <Link to="." label="_hello" className=" justify-center" />
  <Link to="./about" label="_about-me" className=" justify-center" />
  <Link to="./projects" label="_projects" className=" justify-center" />
</div>

<style></style>
